.site-header {
  opacity: 0;
  transition: opacity 2s ease;
  button {
    position: fixed;
    bottom: 0.75rem;
    z-index: 100;
    width: calc(3 * var(--fontSize));
    height: calc(3 * var(--fontSize));
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
  }
  .shuffle {
    font-size: calc(3 * var(--fontSize));
    left: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spinner 3s linear infinite;
    animation-play-state: paused;
    background: transparent;
    border: 0;
    filter: drop-shadow(0 0.05em 0.1em rgb(0 0 0 / 40%));
    transition: all 0.3s ease;
    @media (prefers-reduced-motion: reduce) {
      transition: none !important;
    }
    svg {
      width: 1em;
      height: 1em;
      path {
        stroke: var(--green);
        stroke: #4ef44e;
        stroke-width: 2px;
        fill: transparent;
        transition: all 0.3s ease;
      }
    }
    &:hover {
      animation-play-state: running;
      filter: drop-shadow(0 0.025em 0.1em rgb(0 0 0 / 20%));
    }
    &:hover,
    &:focus {
      svg {
        path {
          stroke: #4ef44e;
        }
      }
    }
  }
  .about-link {
    right: 0.75rem;
    background: #2f2138;
    border: 0;
    width: calc(2 * var(--fontSize));
    height: calc(2 * var(--fontSize));
    filter: drop-shadow(0 0.05em 0.1em rgb(0 0 0 / 40%));
    transition: all 0.3s ease;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
    span {
      opacity: 0;
      transition: opacity 0.3s ease 0.15s;
      @media (prefers-reduced-motion: reduce) {
        transition: none;
      }
      color: var(--colorText);
    }
    &:hover {
      min-width: calc(2 * var(--fontSize));
      width: auto;
      background: var(--grey);
      border-radius: 0.5em;
      span {
        opacity: 1;
        border: 0;
        clip: none;
        -webkit-clip-path: none;
        clip-path: none;
        height: auto;
        margin: auto;
        overflow: hidden;
        padding: 0;
        position: relative !important;
        width: auto;
        width: 0;
        word-wrap: normal !important;
      }
    }
  }
}

.is-touch {
  .site-header {
    .about-link {
      &:hover {
        width: calc(2 * var(--fontSize));
        border-radius: 50%;
        span {
          display: none;
        }
      }
    }
  }
}
