/* Idle Items */
.idle-container {
  position: relative;
  z-index: 1001;
}

.idle-item {
  position: fixed;
  width: 40px;
  height: 40px;
  background-image: url(assets/images/idle/frame.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
