@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes wiggle {
  0%,
  to {
    transform: rotate(2.5deg);
  }
  25% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-2.5deg);
  }
  75% {
    transform: rotate(0deg);
  }
}
@keyframes nudge {
  0%,
  to {
    transform: translate3d(0, 0, 0);
  }
  45% {
    transform: translate3d(0, 0, 0);
  }
  48% {
    transform: translate3d(20%, 0, 0);
  }
  55% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
/*
@keyframes nudge {
  0%,
  to {
    transform: translate3d(20%, 0, 0);
  }
  5% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
}
*/
@keyframes nudgeY {
  0%,
  to {
    transform: translate3d(0, 20%, 0);
  }
  5% {
    transform: translate3d(0, 0, 0);
  }
  50% {
    transform: translate3d(0, 0, 0);
  }
  95% {
    transform: translate3d(0, 0, 0);
  }
}
