.page-template-front {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  margin: 0;
  background-size: cover;
  min-height: calc(100vh - var(--siteTop, 0));
  /*
  background-image: linear-gradient(
    180deg,
    #0092ff 0%,
    #fef89c 65%,
    #e3deb8 77%,
    #cfcfcf 100%
  );
  */
}
.swiper-container {
  --scrollbarBG: transparent;
  --thumbBG: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 1s opacity 0.2s;
  margin-bottom: 0;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
.swiper-slide {
  --colorText: var(--black);
  --colorLink: var(--black);
  --colorLinkHover: var(--green);
  --panelBackground: rgba(255, 255, 255, 0.5);
  color: var(--colorText);
  width: 90%;
  min-width: calc(18.75 * var(--padding));
  padding: 0;
  margin-top: var(--padding);
  margin-bottom: var(--padding);
  margin-left: var(--padding);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  a,
  .text-button {
    color: var(--colorLink);
    &:hover,
    &:focus {
      color: var(--colorLinkHover);
    }
  }
}
.swiper-slide-inner {
  background: var(--panelBackground);
  max-width: calc(60 * var(--fontSize));
  //height: calc(100vh - var(--siteTop, 0) - 2rem);
  height: calc(100vh - var(--siteTop, 0) - calc(4.75 * var(--padding)));
  overflow: auto;
  border-radius: calc(2 * var(--fontSize));
  position: relative;
  padding: calc(1 * var(--padding)) calc(2 * var(--padding))
    calc(1.75 * var(--padding));
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
  p {
    margin-top: 0;
  }
}
.is-touch {
  .swiper-slide-inner {
    height: auto;
    min-height: 30vh;
  }
}
.swiper-slide-header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding: calc(0.5 * var(--padding)) 0 calc(2 * var(--padding));
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  h2 {
    padding: 0;
  }
  button {
    display: flex;
    margin: 0;
    font-size: var(--fontSize);
    line-height: var(--lineHeightHeading);
    svg {
      fill: currentColor;
      height: 1em;
      width: 1em;
    }
  }
}

/* Title Panel */
.swiper-slide--intro {
  --panelBackground: transparent;
  width: auto;
  background: transparent;
  padding-right: calc(6 * var(--fontSize));
  h2 {
    margin: 0;
    padding: 0 0 3rem;
    font-size: calc(5 * var(--fontSize));
    line-height: 1;
    font-weight: 300;
    font-variation-settings: "wght" 300;
    user-select: none;
    /*
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(
      -135deg,
      var(--green) 0%,
      var(--white) 100%
    );
    */
  }
}

/* About Panel */
.swiper-slide--about {
  --panelBackground: rgba(0, 0, 0, 0.8);
  --colorText: #fff;
  --colorLink: #fff;
  --colorLinkHover: var(--grey);
}

/* Empty Panel */
.swiper-slide--empty {
  width: 70%;
  background: transparent;
}

/* Prompt */
.scroll-prompt {
  position: absolute;
  bottom: calc(4 * var(--padding));
  margin: 0;
  color: var(--darkGrey);
  //text-shadow: 0 0px 1px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.8);
  text-shadow: 0 2px 10px rgb(0 0 0 / 20%);
  font-size: calc(1 * var(--fontSizeLarge));
  line-height: var(--lineHeightHeading);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0s 0.3s;
  user-select: none;
  //-webkit-text-stroke: var(--colorText) calc(0.03125 * var(--fontSize));
}
.not-scrolled {
  .scroll-prompt {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s ease, visibility 0s;
    animation: nudge 5s linear infinite;
    //animation-play-state: paused;
  }
}
.has-scrolled {
  .scroll-prompt {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
  }
}
.has-scrolled-complete {
  .scroll-prompt {
    display: none;
  }
}
.scroll-prompt--desktop {
  display: block;
}
.scroll-prompt--touch {
  display: none;
}
.is-touch {
  .scroll-prompt {
    position: relative;
    bottom: auto;
  }
  .scroll-prompt--desktop {
    display: none;
  }
  .scroll-prompt--touch {
    display: block;
  }
  &.not-scrolled {
    .scroll-prompt {
      animation: nudgeY 5s linear infinite;
    }
  }
}

/* Vertical */
.swiper-container-vertical {
  height: calc(100vh - var(--siteTop));
  .swiper-slide {
    width: calc(100% - 2rem);
    min-width: 0;
    height: auto;
    min-height: 90vh;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Text Panels */
.info-panel {
  --scrollbarBG: transparent;
  --thumbBG: rgba(0, 0, 0, 0.4);
  display: none;
  //background: var(--white);
  background: snow;
  padding: 1.25rem 1rem 1.25rem 1.25rem;
  z-index: 1;
  position: absolute;
  top: var(--siteTop, 0px);
  right: 0;
  width: calc(100% - 4rem);
  max-width: calc(30 * var(--fontSize));
  max-height: 80vh;
  border-radius: 0.5em;
  font-size: var(--fontSize);
  font-weight: 400;
  font-variation-settings: "wght" 400;
  //box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border: 3px solid transparent;
    border-radius: 9px;
    background-clip: content-box;
  }
  > * {
    position: relative;
  }
  .handle {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: move;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0 0 1rem;
    margin: 0;
    font-size: var(--fontSize);
    font-weight: 400;
    font-variation-settings: "wght" 400;
  }
  p {
    padding: 0 0 1rem;
    margin: 0;
    &:last-of-type {
      padding-bottom: 0;
    }
  }
  figure {
    margin-top: 1em;
  }
  figcaption {
    font-size: var(--fontSizeSmall);
    text-align: left;
    margin: 0.25em 0 0;
    color: rgba(0, 0, 0, 0.7);
  }
  .close-text {
    font-size: var(--fontSizeLarge);
    background: transparent;
    border: 0;
    display: flex;
    padding: 0;
    margin: 0 0 1rem;
    position: sticky;
    top: 0;
    z-index: 1;
    background: var(--white);
    svg {
      height: 1em;
      width: 1em;
      fill: var(--colorLink);
    }
    &:hover {
      svg {
        fill: var(--green);
      }
    }
    &:focus {
      svg {
        fill: var(--midGrey);
      }
    }
  }
  &.is-init {
    display: block;
  }
}
.info-panel--fixed {
  position: fixed;
  z-index: 100;
}

/* Vimeo */

.vimeo-container {
  //height: calc(100vh - 12rem);
  width: 100%;
}
.vimeo {
  --ratioW: 16;
  --ratioH: 9;
  position: relative;
  width: 100%;
  padding-top: calc((var(--ratioH) / var(--ratioW)) * 100%);
  //background: grey;
  &.vimeo--is-visible {
    //background: limegreen;
  }
  &.vimeo--is-offscreen {
    //background: maroon;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    max-width: none;
  }
}

/* Intro Video */

.intro-video-wrapper {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 1000;
  opacity: 1;
  transition: opacity 1.5s ease;
  @media (prefers-reduced-motion: reduce) {
    transition: none;
  }
}
.intro-video {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    transform: translate(-50%, -50%);
    max-width: none;
    @media (min-aspect-ratio: 16/9) {
      height: 56.25vw;
    }
    @media (max-aspect-ratio: 16/9) {
      width: 177.78vh;
    }
  }
}

.intro-buttons {
  text-align: center;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform-origin: center;
  transform: translate3d(-50%, -50%, 0);
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s;

  @media (prefers-reduced-motion: reduce) {
    transition: none !important;
  }

  button {
    font-weight: 300;
    font-variation-settings: "wght" 300;
    font-size: calc(2 * var(--fontSizeLarge));
    border: 0;
    text-decoration: none;
    margin: 1em;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: -webkit-linear-gradient(
      -135deg,
      var(--green) 0%,
      var(--white) 100%
    );
    @media (prefers-reduced-motion: reduce) {
      transition: none !important;
    }
    &:hover,
    &:focus {
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: -webkit-linear-gradient(
        -135deg,
        var(--white) 0%,
        var(--midGrey) 100%
      );
    }
  }
}
body.intro-video-init {
  .intro-buttons {
    opacity: 1;
    visibility: visible;
    transform: translate3d(-50%, -50%, 0);
    transition: opacity 1s ease 0.5s, transform 1s ease-in-out 0.4s,
      visibility 0s;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
}
body.main-is-entering {
  .intro-video-wrapper {
    opacity: 0.1;
    @media (prefers-reduced-motion: reduce) {
      opacity: 0;
      display: none;
      transition: none;
    }
  }
  .site-header,
  .swiper-container {
    opacity: 0.5;
    @media (prefers-reduced-motion: reduce) {
      opacity: 1;
      transition: none;
    }
  }
}
body.main-entered {
  .intro-video-wrapper {
    display: none;
  }
  .site-header {
    opacity: 1;
    transition: opacity 0.2s ease;
    @media (prefers-reduced-motion: reduce) {
      transition: none;
    }
  }
  .swiper-container {
    opacity: 1;
  }
}
body.main-is-exiting {
  .intro-video-wrapper {
    opacity: 0;
    display: block;
    @media (prefers-reduced-motion: reduce) {
      opacity: 1;
      transition: none;
    }
  }
  .site-header,
  .swiper-container {
    opacity: 0.5;
    @media (prefers-reduced-motion: reduce) {
      opacity: 0;
      display: none;
      transition: none;
    }
  }
}
body.intro-unmuted {
  .unmute {
    display: none;
  }
}

.zoom-out {
  img {
    filter: invert(0);
    transition: filter 0.3s ease;
    display: block;
    width: 100%;
    height: auto;
    max-width: calc(10 * var(--fontSize));
  }
  &:hover {
    img {
      filter: invert(1);
    }
  }
}
