h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
  font-weight: 400;
  font-variation-settings: "wght" 400;
  font-family: var(--fontHeading);
  font-size: var(--fontSize);
  padding: 2rem 0 1rem;
  margin: 0;
  line-height: var(--lineHeightHeading);
}
