a {
  color: var(--colorLink);
  &:hover,
  &:focus,
  &:active {
    color: var(--colorLinkHover);
  }

  &:focus {
    outline: thin dotted;
  }

  &:hover,
  &:active,
  &:focus:not(:focus-visible) {
    outline: 0;
  }
}
:focus:not(:focus-visible) {
  outline: none;
}
