/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto; // Make sure images are scaled correctly.
  max-width: 100%; // Adhere to container width.
}

figure {
  margin: 0 0 1em; // Extra wide images within figure tags don't overflow the content area.
  img {
    display: block;
  }
}
figcaption {
  font-size: var(--fontSizeSmall);
  text-align: left;
  margin: 0.25em 0 0;
  color: var(--midGrey);
}
